modules = ["web", "nodejs-20"]
run = "make dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "make dev"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45300516
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0 --directory ."
